<!--top-header-->
<div class="top-header">
    <div class="container">
        <div class="top-header-main">
            <div class="col-md-4 top-header-left"></div>
            <div class="col-md-4 top-header-middle">
                <a href="" ng-click="goToHomePage()"><img src="images/logo_header.png" alt="GREAT OUTDOORS" /></a>
            </div>
            <div class="col-md-4 top-header-right">
                <div class="cart box_1">
                        <a href="" ng-click="goToCart()">
                        <h3> <div class="total">
                            {{totalPrice | number:2}}€ ({{cart.length}} produit<span ng-show="cart.length > 1">s</span>)</div>
                            <img src="images/cart-1.png" alt="" />
                        </a>
                        <p>
                            <a href="" ng-click="goToCart()" class="simpleCart_empty" ng-show="cart.length === 0">Panier vide</a>
                            <a href="" ng-click="goToCart()" class="simpleCart_empty" ng-show="cart.length > 0">Voir le panier</a>
                        </p>
                        <div class="clearfix"> </div>
                    </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--top-header-->